{% trans_default_domain 'FOSUserBundle' %}
 <h2>My profile</h2>
<div align="center" class="box">
  
    <table class="table table-bordered" >
     <tr><td><b>Email</b></td><td> {{ user.email }}</td></tr>
      <tr><td><b>Username</b></td><td> {{ user.username }}</td></tr>
     <tr><td><b>Last Name</b> </td><td>{{ user.lastname }}</td></tr>
     <tr><td><b>First name</b> </td><td>{{ user.firstname }}</td></tr>
     <tr><td><b>Organization</b></td><td> {{ user.organization }}</td></tr>
     <tr><td><b>Country</b></td><td> {{ user.country }}</td></tr>
    </table>


          <a class="btn btn-primary signup" href="{{ path('fos_user_profile_edit') }}">Modifiy</a>
  
          
</div>
